#parse("template/constantes-impresora.vm")
#parse("template/macros.vm")
#define($COLUMNAS)${GS}P${writer.write(32)}${writer.write(32)}#end
#define($COL_HEAD)${ESC}${writer.write(36)}${writer.write(65)}${writer.write(0)}#end
#define($COL_DET_1)${ESC}${writer.write(36)}${writer.write(15)}${writer.write(0)}#end
#define($COL_DET_2)${ESC}${writer.write(36)}${writer.write(50)}${writer.write(0)}#end
#define($COL_DET_3)${ESC}${writer.write(36)}${writer.write(70)}${writer.write(0)}#end
#define($COL_DEV)${ESC}${writer.write(36)}${writer.write(30)}${writer.write(0)}#end
## Inicia ticket
${COLUMNAS}
#LINEA_SEPARACION()
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_A} 0 ${DOBLE_ALTURA} ${DOBLE_ANCHURA} 0)#altnull(${nombreEmpresa})
#LINEA_SEPARACION()

#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)${direccionEmpresa1}
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)${direccionEmpresa2}
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)${direccionEmpresa3}${CR}${LF}
#ALINEAR_IZQUIERDA()FECHA: #altnull(${fecha})${CR}
#ALINEAR_IZQUIERDA()HORA: #altnull(${hora})${LF}
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} ${DOBLE_ALTURA} 0 0)#altnull(${copia})${CR}${LF}
#ALINEAR_IZQUIERDA()#SET_STYLE(${FUENTE_B} 0 0 0 0)TARJETA: ${tarjeta}
#ALINEAR_IZQUIERDA()#SET_STYLE(${FUENTE_B} 0 0 0 0)${tipo} ${producto}
#if(${meses})#ALINEAR_IZQUIERDA()#SET_STYLE(${FUENTE_B} 0 0 0 0)${plan} MESES SIN INTERESES#end${CR}${LF}
#ETIQUETA_VALOR(${estatus} "")${CR}${LF}
#ALINEAR_IZQUIERDA()#SET_STYLE(${FUENTE_B} 0 0 0 0)     AUT:${numAutorizacion}${COL_DET_2}OPER:${operacion}${LF}
#ALINEAR_IZQUIERDA()#SET_STYLE(${FUENTE_B} 0 0 0 0)AID: ${aid}
#ALINEAR_IZQUIERDA()#SET_STYLE(${FUENTE_B} 0 0 0 0)ARQC: ${arqc}
${LF}
${LF}
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)FIRMA:________________________
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)${cliente}${LF}


#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)POR ESTE PAGARE ME OBLIGO
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)INCONDICIONALMENTE A PAGAR
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)A LA ORDEN DE LA INSTITUCION
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)EMISORA DE LA TARJETA RELACIONADA,
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)EN SUS OFICINAS, LA CANTIDAD
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)QUE APARECE EN EL TOTAL DE
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)ESTE TITULO EL CUAL
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)SUSCRIBO AL AMPARO QUE TENGO
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)CELEBRADO CON DICHA INSTITUCION
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)SUSCRIBO PARA EL USO
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)DE ESTA TARJETA${LF}
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)RECONOZCO Y ACEPTO QUE
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)EL PRESENTE ES COMPROBANTE DE
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)LA OPERACION SEÑALADA.
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)EL CUAL TIENE PLENO VALOR
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)PROBATORIO Y FUERZA LEGAL
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)EN VIRTUD DE QUE FIRME
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)Y/O DIGITE MI FIRMA ELECTRONICA,
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)LA CUAL ES DE MI EXCLUSIVA
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)RESPONSABILIDAD POR LO QUE
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)MANIFIESTO PLENA CONFORMIDAD
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)RESPECTO AL CARGO EFECTUADO
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)A LA CUENTA DE LA QUE DERIVA
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)ESTA TARJETA.${LF}
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)EL PRESENTE PAGARE
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)ES NEGOCIABLE UNICAMENTE
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)CON INSTITUCIONES BANCARIAS,
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)A EXCEPCION QUE ESTE SEA
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)SUSCRITO POR TARJETAHABIENTES
#ALINEAR_CENTRO()#SET_STYLE(${FUENTE_B} ${NEGRITA} 0 0 0)DE AMERICAN EXPRESS..${LF}





#CORTE()
